@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

body{
  font-family: 'Gruppo', cursive;
  color: white;
  background-image: url("img/space.jpg");
}

h2{
  font-weight: lighter;
}
